@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@100&display=swap');

:root{
	--color-header-fundo: rgba(173,216,230, 0.5);
	--color-header-hover: rgba(176,196,222, 0.4);
	--color-header-texto: rgb(0,0,0);
}


*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}


/* ----------------------------- HEADER  ------------------------- */

#header-inicio {
	letter-spacing: 1px;
	background-color: var(--color-header-fundo);
	box-shadow: 15px 3px 10px var(--color-header-fundo);
	padding: 1.5rem 6rem;
}


#header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#div-logo{
	display: flex;
    margin-left: 1.5rem;
    margin-right: 1rem;

}


.ul-list{
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 30px;
	padding: 10px;
}

.li-list{
}

.texto-link{
	text-decoration: none;
}

.ul-list li a h3{
	color: var(--color-header-texto);
}

#div-entrar button{
	border: none;
	background-color: rgba(255,255,255, 0.6);
	padding: 8px 13px;
	border-radius: 5px;

}

#div-entrar button a{
	text-decoration: none;
	color: var(--color-header-texto);
	font-weight: 500;
}


#mobile-menu-icon{
	display: none;
}

#mobile-menu{
	display: none;
}

@media screen and (max-width:730px){


}

